/* General Guidelines:
   - Use the provided purple color (#6f5eff) where applicable.
   - The default font family for HW1 should be Arial, sans-serif.
*/

/* Typography: */
/*
"House Design" title
    font-size: 1.5rem;
    font-weight: bold;
"House Styling" title
    font-size: 20px;
Footer section headings: 'Store Info', 'About', 'Account', 'Policy'
    font-size: 14px;
Footer content
    font-size: 12px;
For all other text, if not specified above, an approximate font size is acceptable. 
*/

/* TO-DO */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f5f4f2;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 15px 0 35px 0;
    width: 100%;
    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;
}

nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5rem;
}

nav a {
    text-decoration: none;
    color: #696969;
    margin: 0 100px;
    font-size: 1.25rem;
    font-weight: bold;
}

.page-container {
    max-width: 1200px;
    margin: 140px auto 0;
    padding: 0 20px;
}

.page-container img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 40px;
}

#house-styling {
    font-size: 20px;
    color: #6f5eff;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
}

.box {
    background-color: #f5f4f2;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.box h3 {
    margin: 15px 0 10px;
}

.box button {
    background-color: #6f5eff;
    color: white;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 5px;
}

.box button:hover {
    background-color: #a9a9a9;
}

footer h3 {
    font-size: 14px;
}

footer column p {
    font-size: 12px;
}