/* General Guidelines:
   - Use the provided purple color (#6f5eff) where applicable.
   - The default font family for HW1 should be Arial, sans-serif.
*/

/* Typography: */
/* 
"House Design" title 
    font-size: 1.5rem;
    font-weight: bold;
"House Styling" title 
    font-size: 20px;
Footer section headings: 'Store Info', 'About', 'Account', 'Policy'
    font-size: 14px;
Footer content 
    font-size: 12px;
For all other text, if not specified above, an approximate font size is acceptable. 
*/

/* TO-DO */
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f5f4f2;
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    z-index: 99;
}

nav h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5rem;
}

a {
    justify-content: center;
}

.house-styling {
    font-size: 20px;
}

footer h3 {
    font-size: 14px;
}

footer column p {
    font-size: 12px;
}